/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

/* ----------COMMON STYLES ACROSS ALL PAGES--------- */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #585858;
    /* Styles to make Footer sticky */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1 {
    margin: 2rem auto;
    font-size: 3.5rem;
    width: 20rem;
    text-align: center;
    border-radius: 3rem;
}

h2 {
    padding-top: 3rem;
}

/* Spacing */
.centered-row {
    display: flex;
}

.centered-element {
    margin: 0 auto;
}

/* Override .row margin-bottom: 20px property */
.mb-0 {
    margin-bottom: 0;
}

/* Color and text styles */
.gradient-bkg-light {
    background: -webkit-linear-gradient(90deg, rgba(255,98,109,0.4) 0%, rgba(255,187,94,0.4) 58%, rgb(255,187,94,0.4) 100%);
    background: -moz-linear-gradient(90deg, rgba(255,98,109,0.4) 0%, rgba(255,187,94,0.4) 58%, rgb(255,187,94,0.4) 100%);
    background: -o-linear-gradient(90deg, rgba(255,98,109,0.4) 0%, rgba(255,187,94,0.4) 58%, rgb(255,187,94,0.4) 100%);
    background: linear-gradient(90deg, rgba(255,98,109,0.4) 0%, rgba(255,187,94,0.4) 58%, rgb(255,187,94,0.4) 100%);
}

.gradient-bkg {
    background: -moz-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -o-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
}

.gradient-bkg-top {
    background: -moz-linear-gradient(0deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -o-linear-gradient(0deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: linear-gradient(0deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
}

.accent-text{
    color: #FF626D !important;
}

.secondary-accent-text {
    color: #FFC371 !important;
}

.filled-red {
    background-color: #FF626D;
}

.filled-orange {
    background-color: #FFC371;
}

.filled-red, .filled-orange {
    color: #fff;
    border: none;
}

.outlined-red {
    border: 3px solid #FF626D;
    color: #FF626D;
}

.outlined-orange {
    border: 3px solid #FFC371;
    color: #FFC371;
}

.outlined-red, .outlined-orange {
    background-color: #fff;
}

.border-radius-sm {
    border-radius: 1rem;
}

.border-radius-m {
    border-radius: 3rem;
}

/* Button styles */
.swap-btn {
    font-family: inherit;
    line-height: 2.5rem;
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.swap-btn:hover {
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    transform: scale(1.1);
}

button:focus {
    background-color: inherit;
}

.hover-undrline:hover {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


/* ----------HEADER---------- */
nav ul a, .sidenav li>a {
    font-size: 1.25rem;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

nav ul a:hover, .active {
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0);
}

.sidenav li>a {
    font-weight: 700;
    color: rgb(255,98,109,1);
}

.sidenav li>a:hover, .sidenav .active-sidenav {
    color: #fff;
    background: -moz-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: -o-linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
    background: linear-gradient(90deg, rgba(255,98,109,1) 0%, rgba(255,187,94,1) 58%, rgba(255,187,94,1) 100%);
}

/* -------Using Hover.CSS library effects. Effects Used : Underline from center---------- */
  /* Underline From Center */
.hvr-underline-from-center, .active {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #fff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}
/* -------End of Hoover.css styles------ */
/* Applying some of Hoover.css styles to the active class */
.active:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    background: #fff;
    height: 4px;
    left: 0;
    right: 0;
}


/* ----------FOOTER---------- */
.footer-nav li{
    line-height: 2rem;
    display: inline-block;
    padding: 0 0.5rem;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.footer-links li a {
    color: #FF626D;
    text-shadow: 0px 4px 3px rgba(255, 255, 255,1),
                0px 5px 3px rgba(0,0,0,0.3);
}

.footer-socials li a {
    color: #FFC371;
    font-size: 1.25rem;
}

.footer-links li a, .footer-socials li a {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Add Hover effect */
.footer-links li a:hover, .footer-socials li a:hover{
    color: #fff;
    text-shadow: 1px 1px 1px #FF626D,
                -1px -1px 1px #FFC371;
} 

/* creating an oval drop shadow */
.footer-socials li:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0px;
    height: 7px;
    left: 0;
    right: 0;
    background: -webkit-radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 50%);
    background: -moz-radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 50%);
    background: -o-radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 50%);
    background: radial-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0) 50%);
}

/* accomodating for very small screen sizes, preventing social icons being split up */
@media screen and (max-width:385px) {
    .footer-links li {
    display: block;
    }
}

/* ----------ITEM CARDS--------- */
.all-item-container {
    max-width: 1200px;
}

.item-image {
    height: 300px;
    object-fit: cover;
}

/* overriding the existing border radius for images */
.card .card-image img {
    border-radius: 1rem 1rem 0 0;
}

.card {
    height: 500px;
    max-width: 300px;
    margin: 1rem auto;
    border-radius: 1rem;
}

.card .card-content {
    height: 200px;
    display: relative;
    padding: 1rem 0.5rem;
}

.item-creator {
    font-size: 0.9rem;
}

.item-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.item-icon-container {
    text-align: right;
}

.item-icon-container i {
    margin-left: 1rem
}

/* Adding pointer to the card revela component's trigger */
#display-more {
    cursor: pointer;
    font-style: italic;
}

#display-more:hover {
    text-decoration: underline;
}

/* Card Reveal styles */
.card-reveal-title {
    padding-left: 16.5px;
}

/* ----------CATEGORY FILTER--------- */
.category-container {
    padding: 0 0.75rem 1rem;
    margin: 1rem auto;
    max-width: 300px;
}

.category-title {
    background-color: #FF626D;
    color: #fff; 
}

.category-labels {
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.filtered-category {
    color: #000;
    font-weight: 600;
}

/* ----------SORT AND SEARCH CONTAINER ON ITEMS PAGE---------- */
.sort-container, .search-container {
    height: 3rem;
    border: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
}

.sort-container {
    line-height: 3rem;
    display: flex;
    justify-content: space-evenly;
}

.sort-title {
    font-size: 1.25rem;
}

/* Style sorting buttons */
.sort-container a {
    font-size: 1.5rem;
    line-height: 3rem;
}


.sort-container a, .item-icon-container a {
    color: inherit;
}


.sort-container a:hover, .item-icon-container a:hover {
    color: #FF626D;
}

.row div.search-container-parent {
    padding: 0;
}

.search-container {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.input-field{
    margin: 0;
    padding: 0;
}

/* overriding default materialize input styles */
input#search.validate {
    margin: 0;
    height: auto;
    top: -1rem;
    line-height: 2rem;
    font-family: inherit;
    font-size: 1.25rem;
    border: none;
    position: relative;
}

.search-container .swap-btn {
    margin: 0.25rem 0;
}


/* ---------FORMS FOR REGISTER, LOGIN, NEW ITEM PAGES---------- */
.form-container {
    display: flex;
}

.form-element{
    max-width: 600px;
    margin: 3rem auto;
}


.input-container {
    border: 1px solid #b1b1b1;
    border-radius: 3rem;
    margin: 3rem 0;
    padding: 0 1rem;
    height: 4rem;
}

.input-container .input-field input {
    margin: 0;
}

label.optional-label {
    top: -30px;
}

.form-element > .card-panel {
    padding: 3rem;
}

.input-field input, input.select-dropdown.dropdown-trigger {
    color: #585858;
}


/* ----------PAGINATION---------- */
ul.pagination, div.pagination-page-info{
    text-align: center;
}

.pagination li.active a {
    background-color: #FF626D;
}

/* ----------ITEM MATCHING---------- */
/* Like Button */
a i.like-button, a i.liked-button {
    color: #FF626D;
    background-color: #fff;
}

.like-button:hover, .liked-button:hover {
    color: #fff;
    background-color: #FF626D;
}

a i.like-button-disabled {
    color: #acacac;
    background-color: #d8d8d8;
    cursor: default;
}

/* User socials dropdown, overriding some default materialize styles */
ul#user-socials{
    width: 140px !important;
    height: 37px !important;
}

ul#user-socials li i {
    font-size: 1.25rem;
    margin: 0;
}


ul#user-socials li{
    display: inline;
    text-align: center;
}

ul#user-socials li a{
    display: inline-block;
    padding: 0.5rem;
}

ul#user-socials li a:hover{
    background-color: #eee;
}


/* ----------MY PROFILE PAGE---------- */
.profile-img-container {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.profile-img-container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.username {
    font-size: 2.5rem;
    margin: 0.5rem 0;
}

.profile-detail-container {
    text-align: center;
    padding-top: 2rem;
}

.profile-btn {
    width: auto;
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
}

/* Profile image on big screens */
@media screen and (min-width: 1250px) {
    .profile-img-container {
        width: 300px;
        height: 300px;
    }
}

@media screen and (min-width: 601px) {
    .profile-detail-container {
        text-align: left;
    }

    .profile-detail-container p {
        padding-left: 2rem;
    }
}

/* Profile image on small screen sizes */
@media screen and (max-width: 300px) {
    .profile-img-container {
        width: 200px;
        height: 200px;
    }
}

/* 
border-width: 3px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */