{% extends "base.html" %}

<!-- Add Page Title -->
{% block title %}Edit Item | SWAP{% endblock %}

<!-- Main content -->
{% block content %}

<div class="row container">
    <!-- Edit Item Form -->
    <form
        class="col s12 form-element z-depth-4 border-radius-sm"
        method="POST"
        action="{{ url_for('edit_item', item_id = item._id) }}">
        <h3 class="center">Edit Item</h3>
        <!-- Item Name -->
        <div class="row">
            <div class="input-field col s12">
                <input
                    id="item_name"
                    name="item_name"
                    type="text"
                    minlength="3"
                    maxlength="20"
                    value="{{ item.item_name }}"
                    class="validate"
                    data-length="20"
                    required/>
                <label for="item_name">Item Name:</label>
            </div>
        </div>

        <!-- Item Image -->
        <div class="row input-container">
            <div class="input-field col s12">
                <input
                    id="item_image"
                    name="item_image"
                    type="text"
                    value="{{ item.item_image }}"
                    class="validate"/>
                <label for="item_image">Picture Link (Optional)</label>
            </div>
        </div>

        <!-- Short Description for the item card front -->
        <div class="row input-container">
            <div class="input-field col s12">
                <textarea
                    id="short_desc"
                    name="short_desc"
                    maxlength="100"
                    data-length="100"
                    class="materialize-textarea validate"
                    required>{{ item.short_description }}</textarea>
                <label for="short_desc">Short Description:</label>
            </div>
        </div>

        <!-- Long Description for the item card back -->
        <div class="row input-container">
            <div class="input-field col s12">
                <textarea
                    id="long_desc"
                    name="long_desc"
                    maxlength="300"
                    data-length="300"
                    class="materialize-textarea validate"
                    required>{{ item.long_description }}</textarea>
                <label for="long_desc">Long Description:</label>
            </div>
        </div>

        <!-- Category selector -->
        <div class="row input-container">
            <div class="input-field col s12">
                <select name="category" class="validate" required>
                    <option value="" disabled>Category</option>
                    {% for category in categories %}
                        {% if category.category_name == item.category %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label class="options-label">Category</label>
            </div>
        </div>

        <!-- Item Sizing -->
        <div class="row input-container">
            <div class="input-field col s6">
                <input
                    id="size"
                    name="size"
                    type="text"
                    maxlength="5"
                    class="validate"
                    value="{{ item.size }}"
                    required></input>
                <label for="size">Size: </label>
            </div>
            <div class="input-field col s6">
                <select name="size_region" class="validate" required>
                    <option value="" disabled>From</option>
                        <option value="EU" {% if item.size_country == "EU" %} selected {% endif %}>EU</option>
                        <option value="UK" {% if item.size_country == "UK" %} selected {% endif %}>UK</option>
                        <option value="USA" {% if item.size_country == "USA" %} selected {% endif %}>USA</option>
                </select>
            </div>
        </div>

        <!-- Item Fit -->
        <div class="row input-container">
            <div class="input-field col s12">
                <select name="item_fit" class="validate" required>
                    <option value="" disabled>Fit</option>
                        <option value="Women" {% if item.size_gender == "Women" %} selected {% endif %}>Women</option>
                        <option value="Men" {% if item.size_gender == "Men" %} selected {% endif %}>Men</option>
                        <option value="Unisex" {% if item.size_gender == "Unisex" %} selected {% endif %}>Unisex</option>
                </select>
                <label class="options-label">Fit</label>
            </div>
        </div>

        <!-- Used Status -->
        <div class="row input-container">
            <div class="input-field col s12">
                <select name="used_status" class="validate" required>
                    <option value="" disabled>Used</option>
                        <option value="Never" {% if item.used_status == "Never" %} selected {% endif %}>Never</option>
                        <option value="Barely" {% if item.used_status == "Barely" %} selected {% endif %}>Barely</option>
                        <option value="Few Times" {% if item.used_status == "Few Times" %} selected {% endif %}>Few Times</option>
                        <option value="Often" {% if item.used_status == "Often" %} selected {% endif %}>Often</option>
                        <option value="Heavily" {% if item.used_status == "Heavily" %} selected {% endif %}>Heavily</option>
                </select>
                <label class="options-label">Used</label>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row centered-row">
            <a href="{{ url_for('items') }}" class="col s5 m4 l3 swap-btn outlined-red border-radius-m centered-elem center-align">
                Cancel
            </a>
            <button
                class="col s5 m4 l3 swap-btn filled-red gradient-bkg border-radius-m centered-elem"
                type="submit"
                name="action">
                Edit Item
            </button>
        </div>
    </form>
</div>
{% endblock %}