{% extends "base.html" %}
 
<!-- Main content -->
{% block content %}

<div class="row container mb-0">
    <!-- Registration form -->
    <form
        class="col s12 form-element z-depth-4 border-radius-m register"
        method="POST"
        action="{{ url_for('edit_profile', username=session.user) }}">
        <h3 class="center-align">Edit Profile</h3>
   
        <h6 class="center accent-text">Tell Us More</h6>
        <!-- Select Progile Image -->
        <div class="row input-container">
            <div class="input-field col s12 dropdown-space">
                <select name="user-img" class="center">
                    <option value="" disabled selected>Choose your face</option>
                    <option value="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/woman-detective.png" data-icon="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/woman-detective.png">Detective</option>
                    <option value="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/man-cook.png" data-icon="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/man-cook.png">Cook</option>
                    <option value="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/woman-construction-worker.png" data-icon="http://d2trtkcohkrm90.cloudfront.net/images/emoji/apple/ios-12/128/woman-construction-worker.png">Construction Worker</option>
                </select>
                <label class="options-label">Profile Pic</label>
            </div>
        </div>
        <!-- Looking-for dropdown selector -->
        <div class="row input-container">
            <div class="input-field col s12 dropdown-space">
                <select name="looking-for" class="validate" multiple>
                    <option value="" disabled>Category</option>
                    {% for category in categories %}
                        {% if category.category_name in user.looking_for %}
                            <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label class="options-label">Looking For:</label>
            </div>
        </div>
        <h6 class="center accent-text">Add your socials <i class="far fa-question-circle tooltipped" data-position="right" data-tooltip="Only visible to matched users"></i></h6>
        <!-- Facebook Messanger -->
        <div class="row">
            <div class="col s12 input-field socials">
                <input
                    id="fb-msgr"
                    name="fb-msgr"
                    type="text"
                    class="validate"
                    value="{{user.fb_msgr}}"/>
                <label for="fb-msgr" class="blue-text"><i class="fab fa-facebook-messenger"></i></label>
            </div>
        </div>
        <!-- Whatsapp -->
        <div class="row">
            <div class="col s12 input-field socials">
                <input
                    id="whatsapp"
                    name="whatsapp"
                    type="text"
                    class="validate"
                    value="{{user.whatsapp}}"/>
                <label for="whatsapp" class="green-text text-accent-4"><i class="fab fa-whatsapp"></i></label>
            </div>
        </div>
        <!-- Facebook Messanger -->
        <div class="row">
            <div class="col s12 input-field socials">
                <input
                    id="instagram"
                    name="instagram"
                    type="text"
                    class="validate"
                    value="{{ user.instagram }}"/>
                <label for="instagram" class="pink-text text-darken-1"><i class="fab fa-instagram"></i></label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row centered-row">
            <a href="{{ url_for('my_profile', username=session.user) }}" class="col s5 m4 l3 swap-btn outlined-red border-radius-m centered-elem center-align">
                Cancel
            </a>
            <button
                class="col s5 m4 l3 swap-btn filled-red border-radius-m centered-elem"
                type="submit"
                name="action">
                Edit
            </button>
        </div>
    </form>
</div>
{% endblock %}