{% extends "base.html" %}
<!-- Add active class to the  navbar -->
{% block nav_home %}active{% endblock %}
{% block sidenav_home %}active-sidenav{% endblock %}

<!-- Landing Page graphic -->
{% block landing_graphic %}
    <div class="landing-graphic-container center "></div>
{% endblock %}

{% block content %}
<!-- Top Landing Page section -->
<section class="landing-pg-container">
    <div class="container">
        <h1 id="swap-heading">SWAP</h1>
        <p>your clothes</p>
        <p>Add items you're ready to say goodbye to and swap them with other swappers' pre-loved pieces</p>
        <p>Add. Like. Swap. Simple!</p>
        <div class="row">
            <a href="{{ url_for('register') }}" class="swap-btn filled-red">Register</a>
            <a href="{{ url_for('login') }}" class="swap-btn filled-orange">Log In</a>
        </div>
    </div>
</section>

<!-- Hot Items section -->
<section class="top-items container">
    <h2 class="center-align">Hot Items <i class="fas fa-fire-alt"></i></h2>
        <!-- Display Items -->
        <div class="row">
            {% for item in items %}
            <div class="col s12 m6 l4">
                <div class="card center z-depth-4">
                    <!-- Card Image -->
                    <div class="card-image">
                        <img src="{{ item.item_image }}" class="item-image">
                        <!-- Checks if the logged in user already likes the item and display the like button accordingly -->
                        {% if session.user == item.created_by %}
                            <a class="btn-floating halfway-fab waves-effect waves-light white">
                                <i class="far fa-heart like-button-disabled"></i></a>
                        <!-- Disable like buttons if user has not logged in -->
                        {% elif session.user == 'guest' %}
                            <a class="btn-floating halfway-fab waves-effect waves-light white tooltipped" data-position="bottom" data-tooltip="Register to like an item">
                                <i class="far fa-heart like-button-disabled"></i></a>
                        {% elif session.user in item.liked_by %}
                            <a href="{{ url_for('liked_item', item_id=item._id, action='unlike') }}"
                                class="btn-floating halfway-fab waves-effect waves-light white">
                                <i class="fas fa-heart like-button"></i></a>
                        {% else %}
                            <a href="{{ url_for('liked_item', item_id=item._id, action='like') }}"
                                class="btn-floating halfway-fab waves-effect waves-light white">
                                <i class="far fa-heart like-button"></i></a>
                        {% endif %}    
                    </div>
                    <!-- Card Content -->
                    <div class="card-content">
                        <div class="item-content">
                            <span class="card-title">{{ item.item_name }}</span>
                            <p class="item-short-description activator">{{ item.short_description }}</p>
                            <p class="activator accent-text" id="display-more">more</p>
                        </div>
                        <!-- Item Footer displaying creator, delete and flag buttons -->
                        <div class="row item-footer">
                        <!-- In case of a match  display creators socials in a dropdown so the user can contact them -->
                        {% if session.user in item.liked_by and item.created_by in liked %}
                            <div class="col s5 item-creator-container">
                                <p class="left item-creator-active accent-text">{{ item.created_by }}</p>
                            </div>
                            <div class="col s5 item-socials-container">
                                <a href="https://m.me/{{ user['fb_msgr'] }}" target="_blank" class="blue-text"><i class="fab fa-facebook-messenger"></i></a>
                                <a href="https://wa.me/{{ user['whatsapp'] }}" target="_blank" class="green-text text-accent-4"><i class="fab fa-whatsapp"></i></a>
                                <a href="https://instagram.com/{{ user['instagram'] }}" target="_blank" class="pink-text text-darken-1"><i class="fab fa-instagram"></i></a>
                            </div>
                        <!--If it's not a match, show unclickable creators username  -->
                        {% else %}
                            <div class="col s6">
                                <p class="left item-creator">{{ item.created_by }}</p>
                            </div>
                        {% endif %}
                        <!-- Display flag icon to all users, display edit and delete otpions to creator only -->
                        {% if session.user != 'guest' %}
                            {% if session.user == item.created_by %}
                                <div class="col s6 item-icon-container">
                                    <a href="{{ url_for('delete_item', item_id = item._id) }}"><i class="far fa-trash-alt"></i></a>
                                    <a href="{{ url_for('edit_item', item_id=item._id) }}"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                            {% else %}
                                <div class="col s2 item-icon-container right">
                                    <a href="#"><i class="far fa-flag"></i></a>
                                </div>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                    <!-- More information displayed using card reveal component -->
                    <div class="card-reveal">
                        <span class="card-title card-reveal-title">{{ item.item_name }}<i class="fas fa-times right accent-text"></i></span>
                        <p>{{ item.long_description }}</p>
                        <hr>
                        <!-- Specific item details -->
                        <div class="row">
                            <div class="col s5 item-labels right-align">Category</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-sitemap secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.category }}</div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Size</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-ruler secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.size }} ({{ item.size_country }}) <a href="https://www.sizeguide.net/" target="_blank" class="tooltipped grey-text" data-position="bottom" data-tooltip="Not Sure about sizes?"><i class="far fa-question-circle"></i></a></div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Fit</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-transgender-alt secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.size_gender }}</div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Used</div>
                            <div class="col s2 item-icons center-align"><i class="far fa-clock secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.used_status }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
</section>
    
{% endblock %}