{% extends "base.html" %}
<!-- Add active class to the  navbar and sidebar -->
{% block nav_items %}active{% endblock %}
{% block sidenav_items %}active-sidenav{% endblock %}

{% block content %}
    <h1>Items</h1>

<div class="row">
    <!-- display Categories -->
    <div class="col s12 l3">

    </div>
    <!-- Display Items -->
    <div class="col s12 l9">
        <div class="row all-item-container">
            {% for item in items %}
                <div class="col s12 m6 l4">
                    <div class="card center z-depth-4">
                        <!-- Card Image -->
                        <div class="card-image">
                            <img src="{{ item.item_image }}" class="item-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light white"><i class="far fa-heart accent-text"></i></a>
                        </div>
                        <!-- Card Content -->
                        <div class="card-content">
                            <div class="item-content">
                                <span class="card-title">{{ item.item_name }}</span>
                                <p class="item-short-description activator">{{ item.short_description }}</p>
                                <p class="activator accent-text" id="display-more">more</p>
                            </div>
                            <!-- Item Footer displaying creator, delete and flag buttons -->
                            <div class="row item-footer">
                                <div class="col s6">
                                    <p class="left item-creator">{{ item.created_by }}</p>
                                </div>
                                <div class="col s6 item-icon-container">
                                    <i class="far fa-trash-alt"></i>
                                    <i class="far fa-flag"></i>
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                        <!-- More information displayed using card reveal component -->
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ item.item_name }}<i class="fas fa-times right"></i></span>
                            <p>{{ item.long_description }}</p>
                            <!-- Specific item details -->
                            <div class="row">
                                <div class="col s5 item-labels right-align">Category</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-sitemap"></i></div>
                                <div class="col s5 item-values">{{ item.category }}</div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Size</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-ruler"></i></div>
                                <div class="col s5 item-values">{{ item.size }} ({{ item.size_country }})</div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Fit</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-transgender-alt"></i></div>
                                <div class="col s5 item-values">{{ item.size_gender }}</div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Used</div>
                                <div class="col s2 item-icons center-align"><i class="far fa-clock"></i></div>
                                <div class="col s5 item-values">{{ item.used_status }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}