{% extends "base.html" %}
<!-- Add active class to the  navbar and sidebar -->
{% block nav_items %}active{% endblock %}
{% block sidenav_items %}active-sidenav{% endblock %}

{% block content %}
<h1>Items</h1>

<div class="row">
    <!-- Display Categories and allow user to filter items using them-->
    <div class="col s12 l3">
        <div class="category-container z-depth-4">
            <!-- Filter container title -->
            <div class="row">
                <div class="col s12">
                    <h5>Categories</h5>
                </div>
            </div>
            <!-- Filter container values -->
            <div class="row">
                <div class="col s10 offset-s1">
                    <form action="{{ url_for('filter') }}" method="POST">
                        <!-- Loop through all categories in the category collection and create a checbox for each -->
                        {% for category in categories %}
                        <p>
                            <label for="{{ category.category_name }}">
                                <input type="checkbox" value="{{category.category_name}}" id="{{ category.category_name }}" name="selected-categories" />
                                <span>{{ category.category_name }}</span>
                            </label>
                        </p>
                        {% endfor %}
                        <!-- Submit button -->
                        <button type="submit" class="btn">Apply</button>
                        <!-- Button to display all items -->
                        <a href="{{ url_for('items') }}" class="btn">Show All</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Display Items -->
    <div class="col s12 l9">
        <div class="row all-item-container">
            {% for item in items %}
                <div class="col s12 m6 l4">
                    <div class="card center z-depth-4">
                        <!-- Card Image -->
                        <div class="card-image">
                            <img src="{{ item.item_image }}" class="item-image">
                            <a class="btn-floating halfway-fab waves-effect waves-light white"><i class="far fa-heart accent-text"></i></a>
                        </div>
                        <!-- Card Content -->
                        <div class="card-content">
                            <div class="item-content">
                                <span class="card-title">{{ item.item_name }}</span>
                                <p class="item-short-description activator">{{ item.short_description }}</p>
                                <p class="activator accent-text" id="display-more">more</p>
                            </div>
                            <!-- Item Footer displaying creator, delete and flag buttons -->
                            <div class="row item-footer">
                                <div class="col s6">
                                    <p class="left item-creator">{{ item.created_by }}</p>
                                </div>
                                <div class="col s6 item-icon-container">
                                    <i class="far fa-trash-alt"></i>
                                    <i class="far fa-flag"></i>
                                    <i class="fas fa-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                        <!-- More information displayed using card reveal component -->
                        <div class="card-reveal">
                            <span class="card-title card-reveal-title">{{ item.item_name }}<i class="fas fa-times right accent-text"></i></span>
                            <p>{{ item.long_description }}</p>
                            <hr>
                            <!-- Specific item details -->
                            <div class="row">
                                <div class="col s5 item-labels right-align">Category</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-sitemap secondary-accent-text"></i></div>
                                <div class="col s5 item-values left-align">{{ item.category }}</div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Size</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-ruler secondary-accent-text"></i></div>
                                <div class="col s5 item-values left-align">{{ item.size }} ({{ item.size_country }}) <a href="https://www.sizeguide.net/" target="_blank" class="tooltipped grey-text" data-position="bottom" data-tooltip="Not Sure about sizes?"><i class="far fa-question-circle"></i></a></div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Fit</div>
                                <div class="col s2 item-icons center-align"><i class="fas fa-transgender-alt secondary-accent-text"></i></div>
                                <div class="col s5 item-values left-align">{{ item.size_gender }}</div>
                            </div>
                            <div class="row">
                                <div class="col s5 item-labels right-align">Used</div>
                                <div class="col s2 item-icons center-align"><i class="far fa-clock secondary-accent-text"></i></div>
                                <div class="col s5 item-values left-align">{{ item.used_status }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}