{% extends "base.html" %}
<!-- Add active class to the  navbar and sidebar -->
{% block nav_items %}active{% endblock %}
{% block sidenav_items %}active-sidenav{% endblock %}

{% block content %}
<h1 class="gradient-bkg-light">Items</h1>

<div class="row mb-0">
    <div class="col s12 l9 xl8 offset-l3 offset-xl3 gradient-bkg-top border-radius-sm">
        <div class="row mb-0">
            <!-- Buttons to sort all items  -->
            <div class="col s12 m4">
                <div class="white border-radius-sm sort-container">
                    <span class="sort-title grey-text text-lighten-1">Sort:</span>
                    <!-- Alphabetically -->
                    <a href="{{ url_for('sort', sort_by = 'a-to-z') }}">
                        <i class="fas fa-sort-alpha-down"></i>
                    </a>
                    <!-- Reverse Alphabetically -->
                    <a href="{{ url_for('sort', sort_by = 'z-to-a') }}">
                        <i class="fas fa-sort-alpha-down-alt"></i>
                    </a>
                    <!-- Sort by the recent date added -->
                    <a href="{{ url_for('sort', sort_by = 'date') }}">
                        <i class="far fa-calendar-alt"></i>
                    </a>
                    <!-- Sort by users liked items -->
                    <a href="{{ url_for('sort', sort_by = 'liked') }}">
                        <i class="far fa-heart"></i>
                    </a>
                    <!-- Sort by flagged items -->
                    <a href="{{ url_for('sort', sort_by = 'flagged') }}">
                        <i class="far fa-flag"></i>
                    </a>
                </div>
            </div>
            <!-- Add search bar to allow the user to search through the items  -->
            <div class="col s12 m8 search-container-parent">
                <form action="{{ url_for('search') }}" method="POST" class="white border-radius-sm search-container">
                    <div class="row">
                        <!-- Search input -->
                        <div class="col s12 m8">
                            <label for="search"></label>                        
                            <input type="text" name="search" id="search" placeholder="Search:" class="validate" required>
                        </div>
                        <!-- Reset button -->
                        <div class="col s4 m2 offset-s2 center">
                            <a href="{{ url_for('items') }}" class="swap-btn filled-orange border-radius-sm">
                                <i class="fas fa-redo-alt"></i>
                            </a>
                        </div>
                        <!-- Submit button -->
                        <div class="col s4 m2">
                            <button type="submit" class="swap-btn filled-orange border-radius-sm">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- Display Categories and allow user to filter items using them-->
    <div class="col s12 l3">
        <div class="category-container z-depth-4 border-radius-sm">
            <!-- Filter container title -->
            <div class="row category-title border-radius-sm">
                <div class="col s12">
                    <h5 class="center">Categories</h5>
                </div>
            </div>
            <!-- Filter container values -->
            <form action="{{ url_for('filter') }}" method="POST">
                <!-- Loop through all categories in the category collection and create a checbox for each -->
                <div class="category-labels">
                    {% for category in categories %}
                    <p>
                        <label for="{{ category.category_name }}">
                            <input type="checkbox" value="{{category.category_name}}" id="{{ category.category_name }}" name="selected-categories" />
                            <!-- Distinguish between selected and non selected categories -->
                            {% if category.category_name in selected_categories %}
                                <span class="filtered-category">{{ category.category_name }}</span>
                            {% else %}
                                <span>{{ category.category_name }}</span>
                            {% endif %}
                        </label>
                    </p>
                    {% endfor %}
                </div>
                <div class="row center">
                    <div class="col s6">
                        <!-- Submit button -->
                        <button type="submit" class="swap-btn outlined-red border-radius-m">Apply</button>
                    </div>
                    <div class="col s6">
                        <!-- Display all items button -->
                        <a href="{{ url_for('items') }}" class="swap-btn outlined-orange border-radius-m">Show All</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Display Items -->
    <div class="col s12 l9">
        {% if items|length > 0 %}
        <!-- Add Pagination information and page links -->
        <div class="row all-item-container">
            {% for item in items %}
            <div class="col s12 m6 l4">
                <div class="card center z-depth-4">
                    <!-- Card Image -->
                    <div class="card-image">
                        <img src="{{ item.item_image }}" class="item-image">
                        <!-- Checks if the logged in user already likes the item and display the like button accordingly -->
                        {% if session.user in item.liked_by %}
                            <a href="{{ url_for('liked_item', item_id=item._id, action='unlike') }}"
                                class="btn-floating halfway-fab waves-effect waves-light white">
                                <i class="fas fa-heart like-button"></i></a>
                        {% else %}
                            <a href="{{ url_for('liked_item', item_id=item._id, action='like') }}"
                                class="btn-floating halfway-fab waves-effect waves-light white">
                                <i class="far fa-heart like-button"></i></a>
                        {% endif %}    
                    </div>
                    <!-- Card Content -->
                    <div class="card-content">
                        <div class="item-content">
                            <span class="card-title">{{ item.item_name }}</span>
                            <p class="item-short-description activator">{{ item.short_description }}</p>
                            <p class="activator accent-text" id="display-more">more</p>
                        </div>
                        <!-- Item Footer displaying creator, delete and flag buttons -->
                        <div class="row item-footer">
                            <div class="col s6">
                                <p class="left item-creator">{{ item.created_by }}</p>
                            </div>
                            <!-- Display flag icon to all users, display edit and delete otpions to creator only -->
                            {% if session.user %}
                                <div class="col s6 item-icon-container">
                                {% if session.user == item.created_by %}
                                    <a href="{{ url_for('delete_item', item_id = item._id) }}"><i class="far fa-trash-alt"></i></a>
                                    <a href="{{ url_for('edit_item', item_id=item._id) }}"><i class="fas fa-pencil-alt"></i></a>
                                {% else %}
                                    <a href="#"><i class="far fa-flag"></i></a>
                                {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- More information displayed using card reveal component -->
                    <div class="card-reveal">
                        <span class="card-title card-reveal-title">{{ item.item_name }}<i class="fas fa-times right accent-text"></i></span>
                        <p>{{ item.long_description }}</p>
                        <hr>
                        <!-- Specific item details -->
                        <div class="row">
                            <div class="col s5 item-labels right-align">Category</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-sitemap secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.category }}</div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Size</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-ruler secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.size }} ({{ item.size_country }}) <a href="https://www.sizeguide.net/" target="_blank" class="tooltipped grey-text" data-position="bottom" data-tooltip="Not Sure about sizes?"><i class="far fa-question-circle"></i></a></div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Fit</div>
                            <div class="col s2 item-icons center-align"><i class="fas fa-transgender-alt secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.size_gender }}</div>
                        </div>
                        <div class="row">
                            <div class="col s5 item-labels right-align">Used</div>
                            <div class="col s2 item-icons center-align"><i class="far fa-clock secondary-accent-text"></i></div>
                            <div class="col s5 item-values left-align">{{ item.used_status }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        {{ pagination.info }}
        {{ pagination.links }}
    {% else %}
        <h3>No Results Found</h3>
    {% endif %}
    </div>
</div>
    
{% endblock %}