{% extends "base.html" %}
<!-- Add active class to the  navbar and sidebar -->
{% block nav_my_profile %}active{% endblock %}
{% block sidenav_my_profile %}active{% endblock %}

{% block content %}
<h1>My Profile</h1>

<!-- Profile detail container -->
<div class="container z-depth-4 border-radius-sm">
    <div class="row">
        <!-- Username and picture -->
        <div class="col s12 m6">
            <p class="center-align username">{{ user["username"] }}</p>
            <div class="profile-img-container"><img src="{{ user['user_image'] }}" alt="{{user['username']}}'s Profile Image'" class="z-depth-2"></div>
        </div>
        <div class="col s12 m6">
            <div class="row profile-detail-container">
                <!-- Items user is looking for -->
                <div class="col s12">
                    <h5>Looking For</h5>
                    {% for item in user["looking_for"] %}
                    <p>{{ item }}</p>
                    {% endfor %}
                </div>
                <!-- User Socials -->
                <div class="col s12">
                    <h5>Contact Info</h5>
                    <p><i class="fab fa-facebook-messenger blue-text"></i> m.me/<strong>{{ user["fb_msgr"] }}</strong></p>
                    <p><i class="fab fa-whatsapp green-text text-accent-4t"></i> wa.me/<strong>{{ user["whatsapp"] }}</strong></p>
                    <p><i class="fab fa-instagram pink-text text-darken-1"></i> instagram.com/<strong>{{ user["instagram"] }}</strong></p>
                </div>
                <!-- Count of items the user has -->
                <div class="col s12">
                    <h5>Items</h5>
                    <p>{{ item_count }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile Button -->
    <div class="row">
        <div class="col s12 center">
            <a href="{{ url_for('items') }}" class="swap-btn filled-red gradient-bkg border-radius-m center-align profile-btn">
                Edit Profile
            </a>
        </div>
    </div>
    </div>

</div>
{% endblock %}